# Jupyter Notebook
**/.ipynb_checkpoints

# Python
**/**/__pycache__

# Visual Studio Code
**/.vscode

# MacBook
.DS_Store
.AppleDouble
.LSOverride
**/.DS_Store
**/.AppleDouble
**/.LSOverride
**/**/.DS_Store
**/**/.AppleDouble
**/**/.LSOverride

# Dog Project
dog_breed_classifier/cnn_setup/bottleneck_features/
dog_breed_classifier/cnn_setup/haarcascades/
dog_breed_classifier/cnn_setup/requirements/
dog_breed_classifier/cnn_setup/data/
dog_breed_classifier/cnn_setup/fun_test_images/
dog_breed_classifier/flask_app/instance/

