# Jupyter Notebook
**/.ipynb_checkpoints

# Python
**/**/__pycache__

# Visual Studio Code
**/.vscode

# MacBook
.DS_Store
.AppleDouble
.LSOverride
**/.DS_Store
**/.AppleDouble
**/.LSOverride
**/**/.DS_Store
**/**/.AppleDouble
**/**/.LSOverride

# Dog Project
dog_breed_classifier/bottleneck_features/
dog_breed_classifier/haarcascades/
dog_breed_classifier/saved_models/
dog_breed_classifier/requirements/
dog_breed_classifier/data/

