{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="row">
    <div class="col-lg-12">
        <h1>Welcome! I'm glad you found me.</h1>
        <p class="lead">
                I'm your friendly neighbourhood dog breed classifier. (sth accuracy)
        </p>
        <p class="">
                How To ...
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <input type="file" id="img_input" accept="image/*" multiple="false">
    </div>
</div>
<div class="row">
    <div id="img_holder" class="col-lg-6">
        <img class="img-fluid" src="static/images/default_img.png">
    </div>
    <div class="col-lg-6">
        <div class="row">Human vs Dog</div>
        <div class="row">
            <button id="classify_button" type="button" class="btn btn-primary btn-lg btn-block">Classify</button>
        </div>
        <div class="row">Comments</div>
        <div class="row">Results</div>
    </div>
</div>
{% endblock %}

{% block scripts %}

<script onload="main();" src="/static/js/main.js"></script>
{% endblock %}